#section-feed {
    width: 100%;
    height: 100%;
    background-color: white;
}

#section-posts {
    width: 80%;
    min-width: 420px;
    height: 100%;
    min-height: 90vh;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 100px auto !important;
}

#h2-empty-posts {
    margin: 100px auto;
    text-align: center;
}

.h1-token-expired {
    margin: 100px auto;
    text-align: center;
}