.form-create-account{
    width: 70%;
    min-width: 400px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 40px #dcdada;
    overflow-y: auto;
}
.form-create-account > a{
    display: inline-block;
    text-align: end;
    float: right;
    text-decoration: none;
    color: #faa200;
}
.form-login > button{
    width: 130px;
}
input{
    font-size: 20px;
    padding: 10px !important;
}
.box-label-input{
    display: block;
    width: 49%;
    min-width: 360px;
    margin: 5px auto;
}
.space-right{
    margin-right: 10px;
}
.box-group-inputs-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    margin-top: 10px;
}