#section-read-post{
    width: 100%;
    height: 100%;
}
#section-read-post > div{
    width: 70%;
    min-width: 450px;
    overflow-x:auto;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 40px rgba(199, 197, 197, 0.31);
    margin: 50px auto;
}
